* {
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1e242b;
}
.navbar{
  background-color: #1a1f26;
  width: 100vw;
  height: 10%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  color: white;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.logo{
  height: 10%;
  width: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.logo:hover, .nav--right:hover > a,h4{
  cursor: pointer;
}
.nav--right{
  display: flex;
  position: fixed;
  font-size: 2rem;
  height: 10%;
  right: 0;
  justify-content: center;
  align-items: center;
}
.nav-tabs{
  text-decoration: none;
  color: #a68965;
  font-weight: 400;
  padding: 0;
  margin-right: 2rem;
}
.loggedin-email{
  font-size: 1rem;
}
.events-tab:hover::before, .login-tab:hover::before, .blog-tab:hover::before{
  position: fixed;
  left: auto;
  top: 9.6%;
  border-bottom: 2px;
  border-color: #05c7f2;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  content: "";
}
.events-tab:hover::before{
  right: 9rem;
  width: 5rem;
}
.event-image{
  position: relative;
  width: 100vw;
  height: 90vh;
}
.event-slider-holder{
  display: flex;
  margin-left: -100%;
  width: 300%;
  height: 90vh;
}
.left-image{

}
.right-image{

}
.slide-left{
  animation-name: imageSlideLeft;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.slide-right{
  animation-name: imageSlideRight;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.login-tab:hover::before{
  right: 2rem;
  width: 5rem;
}
.blog-tab:hover::before{
  right: 16rem;
  width: 4rem;
}
.login-card{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 450px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  margin-top: -150px;
  background-color: #b9bcbc;
  align-items: center;
  border-radius: 10px;
}
.login-text{
  width: 100%;
  margin-top: 5%;
  padding: 5px 10px;
}
.login-title{
  width: 100%;
  text-align: center;
}
.login-form-button{
  position: absolute;
  right: 10%;
  margin-top: 2rem;
  padding: .8rem 2rem;
  border-radius: 30px;
  border-style: hidden;
  width: 30%;
  bottom: 10%;
}
.signup-button{
  position: absolute;
  left: 10%;
  width: 30%;
}
.home-slider{
  position: relative;
  display: flex;
  margin-top: 10vh;
  left: 0;
  width: 100%;
}
.home-slider > img{
  margin: 0;
  width: 100%;
  height: 90vh;
}
.left-slider, .right-slider{
  width: 10%;
  position: absolute;
  height: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.left-slider:hover, .right-slider:hover{
  cursor: pointer;
}
.arrow{
  position: relative;
  border: solid white;
  border-width: 0 .2rem .2rem 0;
  padding: 10%;
}
.left-arrow{
  -webkit-transform: rotate(135deg);
  position: relative;
  margin-left: -50%;
}
.right-arrow{
  -webkit-transform: rotate(315deg);
  position: relative;
  margin-right: -50%;
}
.right-slider{
  right: 0;
}
.left-slider{
  left: 0;
}
.new-event-button{
  position: relative;
  margin-top: 10vh;
  margin-left: 90vw;
  right: 0;
}
.signup-page-button{
  margin-top: 10%;
  width: 50%;
  height: 30%;
  padding: 5px;
}
.hamburger-icon{
  width: 9vh;
  height: 9vh;
  position: relative;
  margin-top: 20vh;
}
.nav-ham{
  display: none;
}
.display{
  display: absolute;
}
.hide{
  display: none;
}


/* Animations */
@keyframes imageSlideRight {
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(33.3333%);
  }
}
@keyframes imageSlideLeft {
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-33.3333%);
  }
}





@media screen and (max-width: 850px) {/* Tablet Screen */
  .title{
    font-size: 1.5rem;
  }
  .nav-tabs{
    font-size: 1rem;
    margin-right: 1.5rem;
  }
  .events-tab:hover::before{
    right: 5.2rem;
    width: 3rem;
  }
  .login-tab:hover::before{
    right: 1.1rem;
    width: 2.8rem;
  }
  .blog-tab:hover::before{
    right: 9.5rem;
    width: 2rem;
  }
  .logout-button{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    padding: 10px;
  }

}

 /* Mobile Styling */
@media screen and (max-width: 500px) {
  .navbar{
    width: 100vw;
    height: 10%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
  }
  .title{
    font-size: 1rem;
    line-height: 1rem;
  }
  .desktop-navbar{
    display: none;
  }
  .nav-hamburger{
    height: 6vh;
    width: 6vh;
    padding-right: 2%;
  }
  .nav-ham{
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 10vh;
    text-align: center;
    background-color: #1a1f26;
    width: 100%;
    height: 90vh;
    z-index: 10;
  }
  .nav-right{

  }
  .nav-tabs{
    font-size: 2rem;
    margin-top: 2rem;
    margin-right: 0;
    z-index: 10;

  }
  .events-tab:hover::before, .login-tab:hover::before, .blog-tab:hover::before{
    display: none;
  }
  .login-card{
    position: fixed;
    width: 80%;
    height: 40%;
    top: 25%;
    left: 10%;
    margin-left: 0;
    margin-top: 0;
    background-color: #b9bcbc;
    align-items: center;
    border-radius: 10px;
    z-index: 5;
  }
  .login-tab{
    margin: 0;
  }
  .login-text{
    width: 80%;
    position: absolute;
    left: 10%;
    margin-top: 30%;
  }
  .login-text-username{
    margin-top: 10%;
  }
  .login-form-button{
    position: absolute;
    right: 10%;
    margin-top: 2rem;
    padding: .8rem 1rem;
    border-radius: 30px;
    border-style: hidden;
    width: 30%;
    bottom: 10%;  
    font-size: .8rem;
  }
}