.all-blog-data{
    background-color: #1a1f26;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.blog-entry{
    padding: 1rem;
}
#blog-entry-submit-button{
    margin-left: 2rem;
    padding: 1rem;
}
.blog-entries{
    color: white;
    font-size: 2rem;
    position: relative;
    margin: 0;
    line-height: 2rem;
    margin-top: 3rem;
    z-index: 0;
}
.all-blog-posts{
    overflow-y: scroll;
    height: 80%;
    display: grid;
    grid-template-rows: auto;
    top: 10vh;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    padding-bottom: 25%;
}
.blog{
    z-index: 0;
}


@media screen and (max-width: 500px) {
    .all-blog-posts{
        top: 100px;
    }
}