.create-events-form{
    position: relative;
    margin-top: 15vh;
    display: block;
    flex-direction: column;
    background-color: aquamarine;
    width: 50%;
    margin-left: 25%;
    padding-bottom: 2rem;

}
.create-events-input{
    display: block;
    margin-top: 0;
    padding: 10px 5px;
    margin-left: 10%;
    width: 80%;
}
.img-drop{
    width: 20vh;
    height: 20vh;
    margin-left: 10%;
    background-color: white;
    border-width: 1px;
    border-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    text-align: center;
}
.form-bottom-row{
    display: flex;
    margin-top: 10%;

}
.events-form-submit{
    width: 30%;
    margin-left: 30%;
    height: 5vh;
    margin-top: 15%;
}
.image-preview{
    width: 20vh;
    height: 20vh;
    display: none;
}
.dates-input{
    display: flex;

}
.form-label{
    margin-left: 10%
}
.event-description{
    width: 80%;
} 
.form-location{
    display: flex;
    flex-direction: column;
}
.form-label-location{
    margin: 0;
}

    /* Tablet Responsiveness */
@media screen and (max-width: 800px) {
    .date-input-individual, .date-picker{
        width: 70%;
    }
    .date-input-right{
        margin-left: 0%;
    }
    .dates-input{
        align-items: center;
        justify-content: center;
    }
    .create-events-input{
        display: block;
        margin-top: 0;
        padding: 10px 5px;
        margin-left: 10%;
        width: 80%;
    }
    .two-location-inputs{
        position: relative;
    }
}