.create-events-form{
    position: relative;
    margin-top: 15vh;
    display: block;
    flex-direction: column;
    background-color: #0F2557;
    width: 50%;
    margin-left: 25%;
    padding-bottom: 2rem;
    color: white;
    border-radius: 50px;
    border-style: none;

}
.create-events-input{
    display: block;
    margin-top: 0;
    padding: 10px 5px;
    margin-left: 9%;
    width: 80%;
}
.form-label-input{
    margin-left: 9%;
}
.img-drop{
    width: 20vh;
    height: 20vh;
    margin-left: 15%;
    background-color: white;
    border-width: 1px;
    border-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    text-align: center;
}
.form-bottom-row{
    display: flex;
    margin-top: 10%;
}
.events-form-submit{
    width: 30%;
    margin-left: 15%;
    height: 5vh;
    margin-top: 18.6%;
}
.image-preview{
    width: 20vh;
    height: 20vh;
}
.dates-input{
    display: grid;
    grid-template-columns: auto auto;
}
.create-events-input-location{
    display: grid;
    width: 100%;
    grid-column-gap: 17%;

    grid-template-columns: 30% 30%;
}
.form-location{
    margin-left: 15%;
}
.event-description{
    width: 80%;
} 
.form-label-location{
    margin: 0;
}
.date-input-left{
    margin-left: 0;
}
.date-input-individual{
    margin-left: 15%;
    width: 100%;
}
.two-location-inputs{
    display: block;
    /* margin-left: 60%; */
}
.form-input-location{
    width: 100%;
}
.first{
    margin-left: 0;
}
.date-picker{
    width: 65%;
}

    /* Tablet Responsiveness */
@media screen and (max-width: 800px) {
    .date-input-individual, .date-picker{
        width: 70%;
    }
    .date-input-right{
        margin-left: 0%;
    }
    .dates-input{
        align-items: center;
        justify-content: center;
    }
    .create-events-input{
        display: block;
        margin-top: 0;
        padding: 10px 5px;
        margin-left: 10%;
        width: 80%;
    }
    .two-location-inputs{
        position: relative;
    }
}