.event-image-eventspage{
    margin-left: 10%;
    width: 80%;
    height: 40%;
}
.event-card{
    width: auto;
    background-color: brown;
    margin: 2rem;
    margin-top: 2vh;
    padding: 1rem;
    color: black;
    height: 50vh;
}
.event-list{
    display: grid;
    position: absolute;
    top: 20vh;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
}
.event-name{
    text-align: center;
}
.event-description{
    margin-top: 1.5rem;
    overflow: hidden;  
    max-height: 3.4rem;
    width: 15%;
}
.event-state{
    margin-top: 1rem;
}
.bottom-card{
    position: relative;
    bottom: 5%;
    left: 0%;
    margin-top: 10%;
}
.bottom-card > p{
    margin: 0;
}
.single-card-link{
    text-decoration: none;
}
.events-tag-search{
    height: 6vh;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    background-color: #2a333e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-event-button{
    margin: 0;
    position: absolute;
    right: 5%;
    padding: 8px 5px;
}
.state-tag-dropdown{
    position: inline-block;
    left: 0;
    margin-right: 80vw;
}
.no-events-text{
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 100vw;
}





@media screen and (max-width: 850px) {
    .event-list{
        grid-template-columns: auto;
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 500px) {
    .event-list{
        width: 100%;
        margin-left: 0;
    }
}