.reply-card{
    width: 40%;
    margin-left: 30%;
    height: auto;
    background-color: antiquewhite;
    color: black;
    border-radius: 10px;
    position: fixed;
    top: 30%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    z-index: 80; */
    border-color: black;
    border-style: solid;
    padding-bottom: 1rem;
}
.inner-reply-card{
    margin-left: 10%;
}
.reply-username{

}
.reply-input{
    /* min-width: 80%;
    max-width: 80%;
    min-height: 5rem;
    max-height: 5rem; */
}