.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-page{
    position: relative;
    width: 25%;
    height: 70vh;
    background-color: #2c3e50;
    margin-top: 15vh;
    border-style: none;
    border-radius: 30px;
    text-align: center;
    z-index: 1;
}
.signup-page-inputs{
    width: 60%;
    border-radius: 20px;
    border-color: #2980b9;
    border-style: solid;
    border-width: .2rem;
    font-size: 1.5rem;
    padding-left: 1rem;
}
.signup-page-titles{
    text-align: left;
    margin-left: 20%;
    margin-bottom: 0;
}
.signup-page-message{
    margin-left: 1rem;
    margin-right: 1rem;
}
