* {
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1e242b;
}
.navbar{
  background-color: #1a1f26;
  width: 100vw;
  height: 10vh;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  color: white;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.title{

}
.logo{
  height: 10vh;
  width: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.logo:hover, .nav--right:hover > a,h4{
  cursor: pointer;
}
.nav--right{
  display: flex;
  position: fixed;
  font-size: 2rem;
  height: 10vh;
  right: 0;
  justify-content: center;
  align-items: center;
}
.nav-tabs{
  text-decoration: none;
  color: #a68965;
  font-weight: 400;
  padding: 0;
  margin-right: 2rem;
}
.events-tab:hover::before, .login-tab:hover::before, .blog-tab:hover::before{
  position: fixed;
  left: auto;
  top: 9.6%;
  border-bottom: 2px;
  border-color: #05c7f2;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  content: "";
}
.events-tab:hover::before{
  right: 9rem;
  width: 5rem;

}
.login-tab:hover::before{
  right: 2rem;
  width: 5rem;
}
.blog-tab:hover::before{
  right: 16rem;
  width: 4rem;
}
.login-card{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 450px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  margin-top: -150px;
  background-color: #b9bcbc;
  align-items: center;
  border-radius: 10px;
}
.login-text{
  width: 100%;
}
.login-title{
  width: 100%;
  margin-left: 75%;
}
.login-form-button{
  margin-top: 2rem;
  padding: .8rem 2rem;
  border-radius: 30px;
  border-style: hidden;
}
.signup-button{
  margin-right: 2rem;
}
.home-slider{
  position: relative;
  display: flex;
  margin-top: 10vh;
  left: 0;
  width: 100%;
}
.home-slider > img{
  margin: 0;
  width: 100%;
  height: 90vh;
}
.left-slider, .right-slider{
  width: 10%;
  position: absolute;
  height: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-slider:hover, .right-slider:hover{
  cursor: pointer;
}
.arrow{
  position: relative;
  border: solid white;
  border-width: 0 .2rem .2rem 0;
  padding: 10%;
}
.left-arrow{
  -webkit-transform: rotate(135deg);
  position: relative;
  margin-left: -50%;
}
.right-arrow{
  -webkit-transform: rotate(315deg);
  position: relative;
  margin-right: -50%;
}
.right-slider{
  right: 0;
}
.left-slider{
  left: 0;
}
.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-page{
  position: relative;
  width: 25%;
  height: 70vh;
  background-color: #2c3e50;
  margin-top: 15vh;
  border-style: none;
  border-radius: 30px;
  text-align: center;
}
.signup-page-inputs{
  width: 60%;
  border-radius: 20px;
  border-color: #2980b9;
  border-style: solid;
  border-width: .2rem;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.signup-page-titles{
  text-align: left;
  margin-left: 20%;
}
.signup-page-message{
  margin-left: 2rem;
}
.new-event-button{
  position: relative;
  margin-top: 10vh;
  margin-left: 90vw;
  right: 0;
}

@media screen and (max-width: 500px) {
  .navbar{
    width: 100vw;
    height: 10vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
  }
  .title{
    font-size: .1rem;
  }
}